.container {
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  color: #626262;
  font-size: 40px;
  margin-bottom: 0;
}

h2 {
  color: #2daa88;
  font-size: 22px;
  margin-top: 0;
}

h3 {
  color: #ffffff;
  font-size: 24px;
  background: #2daa88;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

p {
  font-size: 15px;
}

.card {
  background: white;
  border-radius: 10px;
}

.card p {
  padding: 10px 10px 50px 10px;
}
